<form [formGroup]="form" class="currency-form">

  <div class="currency-field">
    <select [formControl]="selectFromCurrencyControl">
      <option [ngValue]="symbol" *ngFor="let symbol of currencySymbols;">{{ symbol }}</option>
    </select>

    <input [formControl]="currencyLeftControl">

    <ng-container *ngIf="currencyLeftControl.invalid && currencyLeftControl.touched">
      <div>Заполните обязательно</div>
    </ng-container>
  </div>

  <div class="currency-field">
    <input [formControl]="currencyRightControl">

    <select [formControl]="selectToCurrencyControl">
      <option [ngValue]="symbol" *ngFor="let symbol of currencySymbols;">{{ symbol }}</option>
    </select>

    <ng-container *ngIf="currencyRightControl.invalid && currencyRightControl.touched">
      <div>Заполните обязательно</div>
    </ng-container>
  </div>
</form>
